:root{
  --clr-dark:230 35% 7% ;
  --clr-light:231 77% 90% ;
  --clr-white:0 0% 100% ;

}

*,*::after,*::before{
  box-sizing: border-box;
  overflow-x: hidden;
}

body,h1,h2,h3,h4,h5,h6,figure,picture{
  margin: 0;
}

body{
  line-height: 1.5;
  min-height: 100vh;
}

input,button,textarea,select{
  font: inherit;
}
@media (prefers-reduced-motion:reduce) {
  *,*::after,*::before{
      animation-duration: 0.01ms !important;
      animation-iteration-count:1 !important ;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

